body{
    background-color:rgb(149, 192, 149);
    color:floralwhite;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}
h1{
    color:cornsilk;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}